<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>
        <div th:text="#{hello.title}"></div>
    </title>
</head>
<body>
<h1 th:inline="text" th:text="#{hello.subject}"> [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out" th:value="#{button.signout}"/>
</form>
<hr>
<form th:action="@{/send}" method="post">
    <input type="checkbox" name="permission">
    <div th:replace="#{checkbox.agreement}"></div>
    <br>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <input type="text" value="this is message." th:text="${message}" name="message">
    <input type="submit" value="register"/>
</form>
</body>
</html>